*{
	margin:0;
	padding: 0;
}
#gris{
	background-color: #424242;
}
table{
	text-align: center;
}
.celdaGris{
	background-color: #ededed;
}
.btn-verde{
	background-color: #64dd17;
}
.encabezadoBlanco{
	color: white;
}